mixin payments()
  .payments
    .payments__inner
      .payments__table-col-1
        .payments__table-header
          h6|18 ежемесячных платежей
          p|Платежи вносятся удобным для вас способом :<br> в
            a(href="#")|личном кабинете
            |на сайте или через приложение
        .payments__table-row
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
          .payments__table-td
            span|2&nbsp;566
      .payments__table-col-2
        .payments__table-header
          h6|Остаточная стоимость
          p|При обмене на новую модель остаточная стоимость не выплачивается
        .payments__table-row
          .payments__table-td-horizont
            span|17&nbsp;997
