mixin advantages()
  .advantages
    +title('fz45','Почему это выгоднее, чем рассрочка')
    p.block-subtitle.advantages__subtitle.fz25.mt30.tac|Подписка выгоднее, чем рассрочка, за счет того, что остаточная стоимость не входит в сумму ежемесячных платежей
    .advantages__row.mt50
      .advantages__item
        .advantages__item-inner
          .adventage
            .adventage__inner
              .adventage__title
                div.bold|Рассрочка
                span.adventage__price.mt2|3 333 ₽ в месяц
              .adventage__body
                .adventage__body-wrap
                  .adventage__body-top.jcc
                    span.adventage__price.mb10.nowrap|59 990 ₽
                    span.adventage__text|Сумма выплат за 18 месяцев
                .adventage__body-bot
      .advantages__item
        .advantages__item-inner
          .adventage
            .adventage__inner
              .adventage__title
                div.adventage--c-blue.bold|Подписка
                span.adventage__price.mt2|2 556 ₽ в месяц
              .adventage__body
                .adventage__body-wrap
                  .adventage__body-top
                    span.adventage__price.mb10.nowrap|46 188 ₽
                    span.adventage__text|Сумма выплат за 18 месяцев
                    span.adventage__text.mt15|
                      span.nowrap|41 989 ₽ 
                      |за ноутбук
                    span.adventage__text.mt2|+
                      span.nowrap|4 199 ₽ 
                      |за лизинг
                    .hr
                    span.adventage__price
                      span.nowrap|17 997 ₽
                    span.adventage__text.mt2|Остаточная стоимость
                .adventage__body-bot

