mixin service()
  section.service
    +title('fz45','Как работает сервис')
    ul.service-list.mt50.pb20
      li.service-list__item
        .card
          .card__img.mr20
            img(src="./img/1.png", alt="1")
          .card__text
            .card__title.fz25|Оформите онлайн
            .card__discr.card__discr--w1.fz18.mt15|Выбрав адрес доставки
      li.service-list__item
        .card
          .card__img.mr20
            img(src="./img/2.png", alt="2")
          .card__text
            .card__title.fz25|Вносите платежи 
            .card__discr.card__discr--w2.fz18.mt15|Банковской картой онлайн
      li.service-list__item
        .card
          .card__img.mr20
            img(src="./img/3.png", alt="3")
          .card__text
            .card__title.fz25|Решите через 18 месяцев 
            .card__discr.card__discr--w3.fz18.mt15|Оставить устройство себе или обменять на новое с выгодой до 40% 


