include ../utils/mixins
include ../../blocks/components/title/title
include ../../blocks/components/service/service
include ../../blocks/components/formula/formula
include ../../blocks/components/payments/payments
include ../../blocks/components/advantages/advantages
include ../../blocks/components/catalog/catalog
block variables
doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		block content
		include ../includes/scripts